# Terraform files #
###################
.terraform/
*.tfstate
*.tfstate.backup
*.lock.hcl
.DS_Store

############
values.yaml

############
#*.pptx

######
## temp file
###
orion-kubernetes.yaml
metrics-server-cman.yaml